html {
    /*background-image: url("../../../fly.jpeg");*/
}

body {
    background-color: #1b6d85;
    background:no-repeat center url("../../background-images/fly.jpeg")   ;
    background-attachment: fixed;
    /*background-image: url("fly.jpeg");*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    background-size:  100% auto;
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Lemonada', cursive;
}
.row {
    margin: 10px 50px 10px 50px;
    text-align: center;
}
.col {
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    border-radius: 5px;
    padding-left: 5px;
}

.col-quarter {
    width: 23%;
}
.col-half {
    width: 48%;
}
.col-half-quarter {
    width: 73%;
}
.media-object > p,h6 {
    text-align: center;
    width: 43%;
    /*margin: 0;*/
    /*padding: 0;*/
    display: inline-block;
    float: left;
}
#height {
    height: 400px;
}
.media-object > img {
    width: 45%;
    margin: 0 auto;
    display: inline-block;
    float: right;
    border-radius: 0 5px 5px 0;
}
#firstRow {
    width: 98%;
}
#menu {
    padding-left: 0;
    width: 0;
    float: left;
    height: 200px;
    transition: width 500ms linear;
}
ul {
    width: 103px;
    float: left;
    height: 100%;
    /*margin-left: 5px;*/
    text-align: center;
    padding: 0;
}
li {
    list-style: none;
    width: 98%;
    height: 14.29%;
    margin: 0 auto;
    margin-left: 0;
    background-color: black;
    user-select: none;
}
#li-div {
    margin: 0;
    padding: 0;
    height: 100%;
}
li:hover {
    background-color: papayawhip;
    color: #262626;
}
li > a {

}
a:link, a:visited {
    /*text-decoration: none;*/
    /*cursor: ;*/
}

a:link:active, a:visited:active {

}
.menu-object {
    width: 98%;
    text-align: center;
    margin-left: -2px;
    padding: 0;
    display: inline-block;
    overflow: hidden;
    right: 20px;
}
.menu-object > img {
    width: 200px;
    height: 200px;
    margin: 0;
    float: left;
    display: inline-block;
    overflow: hidden;
}
.menu-object > h3,h4 {
    text-align: center;
    width: 43%;
    margin: 0;
    padding: 0;
    display: inline-block;

}
.menu-object  > p {
    width:43%;
    text-align: center;
    display: inline-block;
    height: 20px;
    /*background-color: #985f0d;*/
    /*overflow: hidden;*/
    /*right: 20px;*/
}
.menu-object > textarea {
    display: inline-block;
    width: 500px;
    height: 400px;
    resize: none;
    color: #0d1318;
}
.menu-object > .btn {
    display: block;
}
#user_pic_in_edit {
    width: 98%;
    height: 400px;
}
.article-category-list {
    margin: 0 !important;
}
.article-category-list > h2 {
    color: #1c699d!important;
}
.article-category-list > #summary {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black!important;
}
#local_video {
    position: absolute;
    height: 150px;
    width: 150px;
}
#remote_video {
    height: 100%;
    width: auto;
}
#video_chat_video_tags {
    height: 300px;
    width: 98%;
    opacity: 0.5;
}
#video_chat_text_tags{
    height: 300px;
    width: 98%;
    opacity: 0.5;
}
video_chat_button_tags{
    color: #0d1318;
    opacity: 0.5;
    width: 98%;
}
#rct_connect,#rct_close,#start_video {
    color: #0d1318;
}
#conversation {
    width: 98%;
    height: 250px;
    resize: none;
    color: #0d1318;
}
#local_message {
    width: 98%;
    color: #0d1318;
}
@keyframes chat-div-animation {
    0%   {background-color:red;width:10px;height:10px;}
    10%  {background-color: yellow;width:50px;}
    15%  {background-color:yellow;width:100px;}
    20%  {background-color:yellow;width:150px;}
    25%  {background-color:yellow;width:200px;}
    30%  {background-color:yellow;width:250px;}
    35%  {background-color:yellow;width:300px;}
    40%  {background-color:yellow;width:350px;}
    45%  {background-color:yellow;width:400px;}
    50%  {background-color: yellow;width:450px;}
    55%  {background-color:   blue;width:500px;}
    60%  {background-color: green;height:50px;}
    65%  {background-color:yellow;height:100px;}
    70%  {background-color:yellow;height:150px;}
    75%  {background-color:yellow;height:200px;}
    80%  {background-color:yellow;height:250px;}
    85%  {background-color:yellow;height:300px;}
    90%  {background-color:yellow;height:350px;}
    95%  {background-color:yellow;height:400px;}
    100% {background-color:   red;height:450px;}
}
#info-div {
    width:1000px;
    height:500px;
    margin: auto 0;
    position: relative;
}
#info-div > * {

}
.admin-user {
    color: #204d74 !important;
}
.user-edit,.categories,.articles {
    color: #0d1318;
}
#user_info-edit-textarea {
    width: 780px;
    height: 200px;
    margin-left: -249px;
}
#user-edit-image {
    margin: 0 auto;
    text-align: -webkit-center;
    float: none!important;
}